

<div class="poster">
    <div class="img-poster"/>
    <img
            src="https://englishonline.britishcouncil.org/wp-content/uploads/2023/01/Image-Hero_2048x800_interact-young-girl.webp"
            alt=""/>
    <h2 class="title title-poster1">Start your English journey</h2>
    <h1 class="title-poster">Learn English with British Council teachers</h1>
    <div class="content-poster">
        <ul>
            <li>Learn with the world’s English experts</li>
            <li>Live online private 1-1 or group classes</li>
            <li>Available 24/7</li>
        </ul>
    </div>
    <a href="https://corporate.britishcouncil.org/contact-us/?country=eol" target="_blank"
       class=" btn btn-light button-poster">
        <button  class="btn btn-light button--small" >Up to 30% off</button>
    </a>
    <div class="content-section-link">
        <p>*for your first 3 months.</p>
    </div>
</div>


<div class="module-inner">
    <div class="module-body-one">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/11/icon_topics_circle-mid-purple.svg"
                alt=""/>
        <div class="module-body-content">
            Topics designed around your needs
        </div>
    </div>
    <div class="module-body-two">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/08/Icon_24_7_circle-purple.svg"
                alt=""/>
        <div class="module-body-content">
            Live classes available 24/7
        </div>
    </div>
    <div class="module-body-three">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/08/icon_badge_circle-mid-purple-50.svg"
                alt=""/>
        <div class="module-body-content">
            British Council badges and certificates
        </div>
    </div>
</div>


<div class="module-features">
    <h2 class="title-features">Learn with the world's English experts</h2>
    <div class="features-content">
        <div class="title3">
            We help you gain confidence and improve your speaking, pronunciation and vocabulary.
            <div class="content3">
                <div class="content-note"><i class="fa-solid fa-check"></i>
                    <div style="font-size: 16px">
                        Practice
                        in small group
                        classes and private one-to-one classes
                    </div>
                </div>
                <div class="content-note" ><i class="fa-solid fa-check"></i>
                    <div  style="font-size: 16px !important;">
                        Customise
                        your timetable,
                        Choose classes based on your goals and interests.
                    </div>
                </div>
<!--                <div class="content-note" ><i class="fa-solid fa-check"></i>-->
<!--                    <div  style="font-size: 16px">-->
<!--                    Choose-->
<!--                    your level. From-->
<!--                    beginner to advanced.-->
<!--                </div>-->
<!--                </div>-->
                <div><button class="btn btn-light button-get">Get Started</button></div>
            </div>
        </div>

        <div class="features-img">
            <img src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/07/1.png" alt=""/>
        </div>
    </div>
</div>


<div class="module-inner-middle">
    <div class="inner-img">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2023/05/image-frame-round-corner-1360x850-interface.webp"
                alt=""/>
        <div class="inner-content">
            <h3 class="title-inner">Target your goals with an English online course designed around your needs</h3>
            <div class="title-3">Study in your own time and at your own pace. Create the perfect course you need to achieve
                your goals.</div>
            <div class="inview">
                <div class="inview-content">
                    <i class="fa-solid fa-check check-icon"></i>
                    Choose your lesson themes
                </div>
                <div  class="inview-content">
                    <i class="fa-solid fa-check check-icon"></i>
                    Set your study goals
                </div>
                <div  class="inview-content">
                    <i class="fa-solid fa-check check-icon"></i>

                    Create your lesson schedule
                </div>
            </div>
            <div><button class="btn btn-light button--small">7 Day Free Trial</button></div>
        </div>
    </div>

</div>
<div class="article">

    <div class="article-content">
        <h3 class="article-title">Plans and pricing to suit your budget and lifestyle</h3>
        <div class="article-3"><div>Choose from a range of subscription plans and start learning
            today.</div>
            <div class="inview-article">
                <div class="inview-article-content">
                    <i class="fa-solid fa-check"></i>
                    Flexible monthly payment plans
                </div>
                <div class="inview-article-content">
                    <i class="fa-solid fa-check"></i>
                    Free 7-day trial period
                </div>
                <div class="inview-article-content">
                    <i class="fa-solid fa-check"></i>

                    Cancel anytime
                </div>
            </div>
            <div><button class="btn btn-light button-article">7 Day Free Trial</button></div>
        </div>
    </div>


    <div>
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/01/myenglish-life-learn-2-1-e1663151516135.png"
                alt=""/>
    </div>

</div>

<div class="subscription">
    <h2>Choose your monthly subscription plan</h2>
    <div class="module-header-intro"><p class="module-header-intro-mid">It’s time to level up your English skills!</p>
        <p>Choose a monthly subscription plan that suits your budget and lifestyle. Pick a plan based on
            how many live
            online classes you want to join each month and start learning today.</p>

        <div class="subscription-interview">
            <div class="sub-content">
                <i class="fa-solid fa-check"></i>
                Unlimited access to learning materials and activities with any plan.
            </div>
            <div class="sub-content">
                <i class="fa-solid fa-check"></i>
                Access to teacher-led grammar webinars.
            </div>
            <div class="sub-content">
                <i class="fa-solid fa-check"></i>

                British Council badges and certificates.
            </div>
            <div class="sub-content">
                <i class="fa-solid fa-check"></i>

                7-day free trial for Gold and Platinum Plans (2 group classes or 1 private class).
            </div>
        </div>
    </div>
</div>

<div class="instructions">
    <div class="instructions-one">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/05/icon-pricing-purple-1-01.svg"
                alt=""/>
        <div class="step-text">Choose a monthly subscription plan <div>that suits your budget and
            lifestyle.</div></div>
    </div>
<!--    {/*<div class="instructions-sep"></div>*/}-->
    <div class="instructions-two">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/05/icon-pricing-purple-2-01.svg"
                alt=""/>
        <div class="step-text">Use your class credits to book group and private classes. Live online
            classes:
            <div>Group classes: 55 min / 1 credit </div>
            <div>Private classes: 25 min / 2 credits</div>
        </div>
    </div>

    <div class="instructions-three">
        <img
                src="https://englishonline.britishcouncil.org/wp-content/uploads/2022/05/icon-pricing-purple-3-01.svg"
                alt=""/>
        <div class="step-text">Use your class credits to book group and private classes. Live
            online classes: <div>Group classes: 55 min / 1 credit </div>
            <div>Private classes: 25 min / 2 credits
            </div>
        </div>
    </div>
</div>




    <div class="card-add-container">
        <div class="card-add">
            <div class="card">
                <div class="card-title-body">
                    <div class="card-title-one">
                        Sliver
                    </div>
                    <div class="card-title-two">5 class credits</div>
                </div>
                <div class="card-body">
                    <div class="card-body-price">
                        <div class="money">₫1,883,700</div>
                        <div class="month"> per month </div>
                        <p>(₫376,740 PER CLASS)</p>
                    </div>
                    <div class="card-body-add">
                        <div class="card-body-add-one"><strong>Private and Group Classes</strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="card-body-add-one"><strong>4 Live25 sessions per month </strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="content-card-body">
                            <span>24 hours a day/7 days a week &nbsp;</span>
                            <br/>
                            <span>Pay monthly &amp; cancel anytime</span>
                        </div>
                    </div>
                    <div class="button-buy">
                        <div class="btn btn-light btn-buy">
                            <a href="https://englishonline.britishcouncil.org/platform/nui/reactui/build/index.html#/purchases/1/d/pn/SilverPackage/lng/en">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-add">
            <div class="card">
                <div class="card-title-body">
                    <div class="card-title-one">
                        Gold
                    </div>
                    <div class="card-title-two">10 class credits </div>
                </div>
                <div class="card-body">
                    <div class="card-body-price">
                        <div class="discount-30">
                            <div class="discount-content">
                                30% DISCOUNT
                            </div>
                        </div>
                        <div class="sale">
                            ₫3,079,700
                        </div>
                        <div class="money">₫2,160,000</div>
                        <div class="month"> PER MONTH </div>
                        <p>(₫216,000 PER CLASS)</p>
                    </div>
                    <div class="card-body-add">
                        <div class="card-body-add-one"><strong>Private and Group Classes</strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="card-body-add-one"><strong>4 Live25 sessions per month </strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="content-card-body">
                            <span>24 hours a day/7 days a week &nbsp;</span>
                            <br/>
                            <span>Pay monthly &amp; cancel anytime</span>
                        </div>
                    </div>
                    <div class="button-buy">
                        <div class="btn btn-light btn-buy">
                            <a href="https://englishonline.britishcouncil.org/platform/nui/reactui/build/index.html#/purchases/1/d/pn/SilverPackage/lng/en">7-day free trial & 30% off</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-add">
            <div class="card">
                <div class="card-title-body">
                    <div class="card-title-one">
                        Platinum
                    </div>
                    <div class="card-title-two">15 class credits </div>
                </div>
                <div class="card-body">
                    <div class="card-body-price">
                        <div class="premium-business">
                            Premium Business Classes included
                        </div>
                        <div class="discount-30">
                            <div class="discount-content">
                                30% DISCOUNT
                            </div>
                        </div>
                        <div class="sale">
                            ₫4,186,000
                        </div>
                        <div class="money">₫2,930,000</div>
                        <div class="month"> PER MONTH </div>
                        <p>(₫195,333 PER CLASS)</p>
                    </div>
                    <div class="card-body-add">
                        <div class="card-body-add-one"><strong>Premium Business Classes</strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="card-body-add-one"><strong>Private and Group Classes</strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="card-body-add-one"><strong>4 Live25 sessions per month </strong> <i
                                class="fa-solid fa-circle-info"></i></div>
                        <div class="content-card-body">
                            <span>24 hours a day/7 days a week &nbsp;</span>
                            <br/>
                            <span>Pay monthly &amp; cancel anytime</span>
                        </div>
                    </div>
                    <div class="button-buy">
                        <div class="btn btn-light btn-buy">
                            <a href="https://englishonline.britishcouncil.org/platform/nui/reactui/build/index.html#/purchases/1/d/pn/SilverPackage/lng/en">7-day free trial & 30% off</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="note">
    <div class="note-content">
        <p>During your trial period, you will receive 2 credits that can be used to book either 2 group classes or 1 private class. Your first payment will be taken 7 days after account activation (7-day trial period). You may cancel at any time during your free trial period.</p>
        <p><strong>Please note</strong>: Subscribing to English Online means that each month you will be automatically charged in local currency via our payment provider (Stripe), and will receive a receipt via email. Cancel your subscription at any time. For more information, please read the&nbsp;<a href="https://englishonline.britishcouncil.org/terms-sale" target="_blank" rel="noopener noreferrer">terms and conditions of sale</a>.</p>

    </div>
</div>


<!--<div>-->

<!--    <div>-->
<!--        Our students love learning with us because...-->
<!--    </div>-->
<!--</div>-->



