

.poster {
  .img-poster {
    position: relative;
    img{
      width: 100%;
    }
  }

  .title-poster1 {
    position: absolute;
    top: 110px;
    left: 190px;
  }

  .title-poster {
    font-size: 40px;
    font-weight: 700;
    color: #23085a;
    line-height: 50px;
    position: absolute;
    top: 190px;
    height: 110px;
    width: 575px;
    left: 187px;
  }
  .content-poster {
    ul {
      font-weight: 400;
      font-size: 20px;
      color: #23085a;
      line-height: 28px;
      position: absolute;
      top: 305px;
      left: 178px;

    }
  }
  .button-poster {

    .button--small{
      background-color: #B52EFF;
      border: none;
      color: white;
      font-size: 20px;
      font-weight: 700;
      height: 70px;
      text-align: center;
      position: absolute;
      top: 425px;
      left: 193px;
      display: flex;
      align-items: center;
      height: 60px;
      width: 180px;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
    }

  }
  .content-section-link {
    position: absolute;
    top: 490px;
    left: 196px;
    font-size: 13px;
    font-weight: 400;

  }

}





.module-inner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  margin: 40px 40px;
  .module-body-three {
    img {
      height: 80px;
      width: 80px;
    }
    .module-body-content {
      padding: 20px 0px;

    }
  }
  .module-body-one{
    .module-body-content {
      padding: 20px 0px;

    }
  }
  .module-body-two{
    .module-body-content {
      padding: 20px 0px;

    }
  }

}

.module-body{
  padding: 30px 0px;
}

.module-features {
  background-color: #D9DCFF;
  color:#23085A;
  position: relative;
  h2 {
    display: flex;
    justify-content: center;
    color:#23085A;
    font-size: 36px;
    font-weight: 700;
    padding-top: 50px;

  }
  .features-content{
    display: flex;
    //grid-template-columns: repeat(2,1fr);
    .title3{
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      color: #23085A;
      height: 50%;
      width: 50%;
      padding-left: 270px;


      .content3{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #23085A;
        .content-note{
          display: flex;
          flex-direction: row;
          padding: 10px 0px;
        }
        li{
          text-align: center;
          align-items: center;
          display: flex;
        }
        .button-get {
          background-color: #B52EFF;
          border: none;
          color: white;
          font-size: 20px;
          font-weight: 700;
          height: 70px;
          text-align: center;
          position: absolute;
          top: 485px;
          left: 271px;
          display: flex;
          align-items: center;
          height: 60px;
          width: 180px;
          border-radius: 50px;
          align-items: center;
          justify-content: center;
        }

      }
    }
  }
  img{
    width:80%;
  }
}
.module-inner-middle{
  background-color: #D9DCFF;
  padding: 58px 50px;
  padding-bottom: 20px;
  .inner-img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .inner-content{
      .title-inner{
        font-weight: 700;
        font-size: 30px;
        line-height: 39px;
        color: #23085A;
        height: auto;
        width: 50%;
        padding-left: 50px;

      }
      .title-3{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #23085A;
        max-width: 50%;
        padding:0px 50px;
      }
      .inview {
        .check-icon{
          padding-left: 50px;
          padding-top: 10px;
        }
        .inview-content{
          padding: 5px 0px;
          margin: 10px 0px;
        }
      }
      .button--small{
        color: white;
        background: #B52EFF;
        padding: 20px 0px;
        width: auto;
        border-radius: 50px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        height: auto;
        width: 180px;
        margin-left: 50px;
      }
    }
  }
  img{
    width: calc(50% + 300px);
    padding: 0 30px;
  }
}

.card-add-container{
  display: flex;
   flex-direction: row;
  gap: 60px;
  justify-content: center;
  padding: 20px;
}

.article{
  background-color: #D9DCFF;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  .article-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    .article-title{
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      color: #23085A;
    }
    .article-3{
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #23085A;
      //max-width: 50%;
      //padding:0px 50px;
    }


    .inview-article{
      .inview-article-content{
        padding: 5px 0px;
        margin: 10px 0px;
      }
    }
    .button-article{
      color: white;
      background: #B52EFF;
      padding: 20px 0px;
      border-radius: 50px;
      border: none;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      height: auto;
      width: 180px;
    }
  }
}

.subscription{
  padding: 30px;
  h2{
    color: #23085a ;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  .module-header-intro{
    font-size: 16px;
    font-weight: 400;
    color:#23085a ;
    line-height: 21px;
    max-width: 750px;
    margin: 0 auto;
    .module-header-intro-mid{
      justify-content: center;
      display: flex;

    }
    .subscription-interview{
      padding: 16px 0px;
      .sub-content{
        width: 50%;
        margin: 0 auto;

      }
    }
  }
  //.instructions-sep{
  //
  //  margin-left: -30px;
  //  margin-right: -30px;
  //  display: block;
  //  height: 8px;
  //  margin-top: 60px;
  //  background: url(../_gfx/steps-dot.svg) space 0 0;
  //  min-width: 60px;
  //  pointer-events: none;
  //}
}



.instructions {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 50px 50px;
  gap: 20px;
  .instructions-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
      height: 86px ;
      width: 260px;
    }
    .step-text{
      padding: 30px;
    }
  }

  .instructions-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      height: 86px;
      width: 260px;
    }
    .step-text{
      padding: 30px;
    }
  }


  .instructions-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      height:  86px;
      width: 260px;
    }
    .step-text{
      padding: 30px;
    }
  }
}

.fa-solid{
  color: #9246e3;
  padding: 0px 10px
}

.containers{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.note{
  display: flex;
  justify-content: center;
  .note-content{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #23085A;
    width: auto;
    justify-content: center;
    text-align: center;
    max-width: 800px;
  }
}
.card-add{
  width: 25%;
  .card{
    .card-title-body{
      background-color: #b25eff;
      .card-title-one{
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        color: white;
        text-align: center;
      }
      .card-title-two{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
      }
    }
    .card-body{
      .card-body-price{
        .premium-business{
          font-size: 16px;
          line-height: 21px;
          font-weight: 700;
          color: #23085A;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          background-color: #e7f0fd;
          height: 6vh;
        }
        .discount-30{
          justify-content: center;
          display: flex;
          margin: 30px 0;
          .discount-content{
            height: 5vh;
            width: 9vw;
            background-color: yellow;
            justify-content: center;
            align-items: center;
            display: flex;

          }
        }
        .sale{
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          color: #23085A;
          text-decoration: line-through;
          padding-bottom:0 ;

        }
        .money{
          font-size: 34px;
          font-weight: 700;
          line-height: 41px;
          color: #23085A;
          text-align: center;
          padding-top:15px;
        }
        .month{
          font-size: 14px;
          font-weight: 700;
          line-height: 41px;
          color: #23085A;
          text-align: center;
        }
        p{
          font-size: 14px;
          font-weight: 700;
          line-height: 41px;
          color: #23085A;
          text-align: center;
          margin: 0;
        }
      }
      .card-body-add{
        .card-body-add-one{
          font-size: 14px;
          font-weight: 700;
          line-height: 41px;
          color: #23085A;
          text-align: center;
        }
        .content-card-body{
          text-align: center;
          padding: 15px 0px;
          color: #23085A;
        }
      }
      .button-buy{
        justify-content: center;
        display: flex;;
        .btn-buy{
          height: 60px;
          width: 60%;
          background-color: #23085a;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50px;

          a{
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 700;

          }
        }
      }

    }
  }
}